body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  max-width:300px;
  margin-left: 10px;
}

.left {
  float: left;
  max-width: 300px;
  margin-right: 10px;
}